<!DOCTYPE HTML>

<html>
    <head>
        <title>whoami</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
  <body>
    <div class = 'container'>
        <div class="page-header text-center">
            <h1>Who Am I</h1>
        </div>
        <div>
            <h3>Overview:</h3>
            <p> This is a FreeCodeCamp API Project that get the IP address, language and operating system for my browser.
            </p>
            <h3>Example Usage:</h3>
            <code>https://ms-whoami.herokuapp.com/</code> <br>
            <h3>Example Output:</h3>
            <code>{"ipaddress":"xxx.xxx.xxx.xxx","language":"en-US","software":"Windows NT 10.0; WOW64"}</code>
        </div>
    </div>
  </body>
</html>
